body {
}

.header {
    position: absolute;
    left: 40%;
    top: 10%;
    font-size: 35px;
    font-weight: bold;
}

.InfoSection{
    position: absolute;
    left: 45%;
    top: 20%;
}

.btn{
    position: relative;
    left: 20%;
}